
/*** CONTROLS ***/

.controls {
    position: relative;
    height: 45px;
    padding-left: 45px;
    color: $color;
    font-size: 13px;
    a {
        display: block;
        padding: 14px 0 15px;
    }
    label {
        margin-right: 5px;
        margin-left: -14px;
        padding-left: 16px;
        font: $font;
        cursor: pointer;
        &:before {
            @mixin transition 0.2s;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 13px;
            height: 13px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 1px solid $color;
        }
    }
    form span {
        position: relative;
        margin-right: 15px;
        font: $font;
    }
    input {
        visibility: hidden;
    }
    input[type=checkbox]:checked + label:before {
        border-width: 5px;
    }
}
.sorter {
    position: relative;
    margin: 0;
    font: $font;
    .icon-wrap {
        left: -45px;
    }
    &.price-sorter {
        width: 46px;
    }
}
.dropdown {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    margin-top: -100%;
    z-index: 900;
    @mixin transition 0.2s;
    ul {
        margin: 0;
        padding: 10px 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
        li {
            list-style: none;
        }
        input {
            position: absolute;
        }
        label {
            display: inline-block;
            position: relative;
            width: 100%;
            margin: 0;
            padding: 6px 15px 7px 35px;
            box-sizing: border-box;
            &:before {
                top: 8px;
                left: 16px;
            }
        }
    }
    + .overlay {
        display: none;
        z-index: 899;
    }
    &.active {
        margin-top: 0;
        + .overlay {
            display: block;
        }
    }
}
.col-2 .dropdown {
    left: -15px;
}
