
/*** CONTROLS ***/

.controls {
    display: flex;
    position: relative;
    height: 45px;
    padding-left: 45px;
    color: $color;
    font-size: 13px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    a {
        display: inline-block;
        padding: 14px 0 15px;
        cursor: pointer;
    }
    label {
        margin-right: 5px;
        margin-left: -14px;
        padding-left: 16px;
        font: $font;
        cursor: pointer;
        &:before {
            @mixin transition 0.2s;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 13px;
            height: 13px;
            box-sizing: border-box;
            border-radius: 50%;
            border: 1px solid $color;
        }
        &:hover {
            color: #d96805;
        }
    }
    form span {
        position: relative;
        margin-right: 15px;
        font: $font;
    }
    input {
        visibility: hidden;
    }
    p {
        margin: 0;
    }
    ul.horizontal {
        float: left;
        margin: 0 0 0 -28px;
        padding: 8px 0px;
        li {
            display: inline;
            float: left;
        }
        label {
            padding-left: 28px;
            padding-right: 10px;
        }
        input[type=checkbox] + label:before,
        input[type=radio] + label:before {
            left: 10px;
        }
        + p a {
            padding-left: 12px;
        }
    }
}
.sorter {
    position: relative;
    margin: 0;
    font: $font;
    .icon-wrap {
        left: -45px;
    }
    &.price-sorter {
        width: 60px;
        float: right;
    }
    .icon {
        @mixin transition 0.2s;
    }
    .desc {
        transform: rotate(180deg);
    }
}
.dropdown {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    margin-top: -200%;
    z-index: 900;
    color: $color-secondary;
    @mixin transition 0.2s;
    ul,
    .dropdown-inner {
        margin: 0;
        padding: 10px 0;
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        height: 0;
        overflow: hidden;
    }
    li {
        list-style: none;
        .btn {
            margin: 10px 16px 5px;
        }
    }
    input {
        position: absolute;
    }
    + .overlay {
        display: none;
        z-index: 899;
    }
    &.active {
        margin-top: 0;
        + .overlay {
            display: block;
        }
        ul,
        .dropdown-inner {
            height: auto;
        }
    }
    .buttons {
        padding-right: 10px;
        margin-bottom: 0;
        input {
            position: relative;
        }
    }
}
.select-dropdown {
    position: relative;
    float: left;
    z-index: 100;
    a {
        position: relative;
        padding: 14px 37px 15px 18px;
        .icon-wrap {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            .icon {
                @mixin transition 0.2s;
            }
        }
    }
    .dropdown {
        left: -5px;
        min-width: 100%;
        margin-top: 0;
        padding: 0 5px 5px;
        overflow: hidden;
        ul {
            height: 0;
            margin-top: -200px;
            padding-top: 45px;
            opacity: 0;
            @mixin transition 0.2s;
        }
    }
    &.active {
        z-index: 995;
        a {
            z-index: 996;
            .icon {
                transform: rotate(180deg);
            }
        }
        .dropdown {
            margin-top: 0;
            ul {
                height: auto;
                margin-top: 0;
                opacity: 1;
            }
        }
        + .overlay {
            display: block;
            z-index: 990;
        }
    }
}
