
/*** FORMS ***/

/* Form */
.form {
    @simple-extend-addto material-box;
    margin: 15px 0;
    background-color: #fff;
    p {
        position: relative;
        margin: 0 0 30px;
        &:last-child {
            margin: 0;
        }
    }
    input,
    textarea,
    select {
        width: 100%;
        padding: 3px 5px;
        box-sizing: border-box;
        -webkit-appearance: none;
        border: none;
        border-bottom: 1px solid $color-secondary-2;
        border-radius: 0;
        line-height: 22px;
        resize: none;
        background: #fff;
        outline: none;
        font: $font;
        @mixin transition 0.2s;
    }
    input:focus,
    textarea:focus,
    select:focus {
        border-bottom: 1px solid $color-h;
    }
    textarea {
        height: 72px;
    }
    label {
        position: absolute;
        top: 0;
        left: 5px;
        @mixin transition 0.2s;
    }
    input:focus + label,
    textarea:focus + label,
    label.filled
    {
        top: -12px;
        font-size: 10px;
        color: $color-h;
    }
    label.filled {
        color: $color-secondary-2;
    }
    input[type=number].ng-invalid-number {
        color: $color-error;
        border-bottom: 1px solid $color-error;
    }
    input[type=number].ng-invalid-number + label {
        top: -12px;
        font-size: 10px;
        color: $color-error;
        font-weight: bold;
    }
}

/* Add new offer */
.new-offer-form {
    display: inline-block;
    box-sizing: border-box;
    .new-offer-btn {
        display: block;
        margin: 0;
        a {
            display: block;
            position: relative;
            padding: 15px 18px 15px 45px;
        }
        span {
            position: absolute;
            left: 13px;
            top: 14px;
        }
    }
    .form-wrap {
        box-sizing: border-box;
        display: none;
    }
    .col {
        width: 50%;
        box-sizing: border-box;
    }
    &.active {
        width: 100%;
        padding: 30px 20px 20px;
        .new-offer-btn {
            display: none;
        }
        .form-wrap {
            display: block;
        }
    }
}

/* Buttons */
.btn {
    @simple-extend-addto material-box;
    display: inline-block;
    padding: 8px 18px;
    background: $color;
    color: #fff;
    text-decoration: none;
    &:hover {
        background: $color-h;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:focus,
    &:active {
        background: $color-a;
        color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    &.btn-light {
        background: #fff;
        color: $color-a;
    }
    &.btn-light:hover {
        color: $color-a;
    }
    &.btn-secondary {
        padding: 8px 18px;
        color: $color;
        background: transparent;
        box-shadow: none;
    }
}
.buttons {
    text-align: right;
}
.btn-wrap {
    position: absolute;
    right: 0;
    margin: 7px 0;
}
