
/*** FORMS ***/

/* Form */
.offer-form {
    display: block;
    width: 100%;
    padding: 35px 20px 20px;
    box-sizing: border-box;
    p {
        position: relative;
        margin: 0 0 30px;
        &.buttons:last-child {
            margin: -10px 0 0;
        }
        &.image-preview {
            height: 164px;
            margin-top: -30px;
            margin-bottom: 20px;
            background: #F7F7F7 url(../img/img-icon.svg) center no-repeat;
            background-size: 50% 50%;
            border: 1px dashed $color-secondary-2;
            border-top: none;
            label {
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                img {
                    display: block;
                    max-height: 100%;
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 10px solid #F7F7F7;
                    box-sizing: border-box;
                }
            }
        }
    }
    input:not([type="submit"]) {
        width: 100%;
        height: 25px;
        padding: 3px 5px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid $color-secondary-2;
        border-radius: 0;
        line-height: 22px;
        background: #fff;
        outline: none;
        font: $font;
        cursor: text;
        -webkit-appearance: none;
        &[type=file] {
            position: relative;
            -webkit-box-sizing: border-box;
            color: transparent;
            padding-left: 1px;
            &.filled {
                color: $color-secondary;
            }
            &::-webkit-file-upload-button {
                width: 0;
                padding: 0;
                margin: 0;
                -webkit-appearance: none;
                border: none;
            }
        }
        &:focus {
            border-bottom: 1px solid $color-h;
            & + label {
                top: -12px;
                font-size: 10px;
                color: $color-h;
            }
        }
        &.ng-invalid.ng-dirty.ng-touched {
            color: $color-error;
            border-bottom: 1px solid $color-error;
        }
        &[type=file] {
            cursor: pointer;
            & + label {
                cursor: pointer;
            }
        }
    }
    label {
        position: absolute;
        white-space: nowrap;
        top: 0;
        left: 5px;
        cursor: text;
        @mixin transition 0.2s;
        &.filled
        {
            top: -12px;
            font-size: 10px;
            color: $color-secondary-2;
        }
        .errors {
          color: $color-error;
          font-weight: bold;
        }
    }
    /* Tags */
    tags-input {
        &.ng-invalid .tags {
            box-shadow: none;
        }
        &.ng-invalid.ng-dirty.ng-touched .tags {
            color: $color-error;
            border-bottom: 1px solid $color-error;
        }
        .tags {
            padding: 0;
            border: none;
            border-bottom: 1px solid $color-secondary-2;
            box-shadow: none;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            &.focused {
                box-shadow: none;
                & + label {
                    top: -12px;
                    font-size: 10px;
                    color: $color-h;
                }
            }
            .tag-item {
                margin: 0;
                padding: 0 5px;
                font: $font;
                height: 25px;
                line-height: 25px;
                border: none;
                border-radius: 0;
                background: transparent;
                .remove-button {
                    margin: 0;
                    &:hover {
                        color: $color;
                    }
                    &:focus,
                    &:active {
                        color: $color-a;
                    }
                }
                &.selected {
                    background: transparent;
                    color: $color-error;
                }
            }
            input {
                width: auto;
                min-width: 25px;
                margin: 0;
                border: none;
                &:focus {
                  border: none;
                }
                &.input {
                    .invalid-tag {
                        color: $color-error;
                    }
                }
            }
        }
    }
}

::-webkit-inner-spin-button,
::-webkit-clear-button,
::-webkit-calendar-picker-indicator {
    display: none;
}

::-webkit-datetime-edit:not([aria-valuenow]) {
    color: transparent;
}
:focus::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-date::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-time::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-file::-webkit-datetime-edit:not([aria-valuenow]) {
    color: $color-secondary;
}
.ng-valid-date + label,
.ng-valid-time + label,
.ng-valid-file + label
{
    top: -12px;
    font-size: 10px;
    color: $color-secondary-2;
}
.input-sep {
    position: relative;
    &:after {
        position: absolute;
        top: 12px;
        right: -15px;
        width: 6px;
        height: 1px;
        background: $color-secondary-2;
        content: "";
    }
}
.new-offer-btn {
    display: block;
    margin: 0;
    a {
        display: block;
        position: relative;
        padding: 15px 18px 15px 45px;
    }
    span {
        position: absolute;
        left: 13px;
        top: 14px;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}
.offer-form-wrap {
    @simple-extend-addto material-box;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    background-color: #fff;
    box-sizing: border-box;
}

/* Buttons */
.btn {
    @simple-extend-addto material-box;
    display: inline-block;
    padding: 8px 18px;
    background: $color;
    color: #fff;
    text-decoration: none;
    &:hover {
        background: $color-h;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:focus,
    &:active {
        background: $color-a;
        color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    &.btn-secondary {
        padding: 8px 18px;
        color: $color;
        background: transparent;
        box-shadow: none;
        &:hover {
            color: $color-a;
        }
    }
    input[type="submit"]& {
      border: none;
    }
}
.buttons {
    text-align: right;
}
.btn-wrap {
    position: absolute;
    right: 0;
    margin: 7px 0;
}
