
/*** FORMS ***/

/* Form */
.form {
    @simple-extend-addto material-box;
    margin: 15px 0;
    background-color: #fff;
    p {
        position: relative;
        margin: 0 0 30px;
        &.buttons:last-child {
            margin: -10px 0 0;
        }
        &.image-preview {
            height: 165px;
            margin-top: -33px;
            background: #F7F7F7 url(../img/img-icon.svg) center no-repeat;
            background-size: 50% 50%;
            &.filled {
                margin-top: -30px;
            }
            label {
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                img {
                    display: block;
                    height: 100%;
                    max-width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 10px solid #F7F7F7;
                    box-sizing: border-box;
                }
            }
        }
    }
    input {
        width: 100%;
        height: 25px;
        padding: 3px 5px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid $color-secondary-2;
        border-radius: 0;
        line-height: 22px;
        background: #fff;
        outline: none;
        font: $font;
        cursor: text;
        -webkit-appearance: none;
        @mixin transition 0.2s;
        &:focus {
            border-bottom: 1px solid $color-h;
            & + label
            {
                top: -12px;
                font-size: 10px;
                color: $color-h;
            }
        }
        &.ng-invalid-number {
            color: $color-error;
            border-bottom: 1px solid $color-error;
            & + label {
                top: -12px;
                font-size: 10px;
                color: $color-error;
                font-weight: bold;
            }
        }
        &[type=file] {
            cursor: pointer;
            & + label {
                cursor: pointer;
            }
        }
    }
    label {
        position: absolute;
        top: 0;
        left: 5px;
        cursor: text;
        @mixin transition 0.2s;
        &.filled
        {
            top: -12px;
            font-size: 10px;
            color: $color-secondary-2;
        }
    }
}

::-webkit-inner-spin-button,
::-webkit-clear-button,
::-webkit-calendar-picker-indicator {
    display: none;
}
::-webkit-file-upload-button {
    display: none;
    visibility: hidden;
    width: 0;
}
.filled::-webkit-file-upload-button {
    display: block;
}
::-webkit-datetime-edit:not([aria-valuenow]) {
    color: transparent;
}
:focus::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-date::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-time::-webkit-datetime-edit:not([aria-valuenow]),
.ng-valid-file::-webkit-datetime-edit:not([aria-valuenow]) {
    color: $color-secondary;
}
.ng-valid-date + label,
.ng-valid-time + label,
.ng-valid-file + label
{
    top: -12px;
    font-size: 10px;
    color: $color-secondary-2;
}
.input-sep {
    position: relative;
    &:after {
        position: absolute;
        top: 12px;
        right: -15px;
        width: 6px;
        height: 1px;
        background: $color-secondary-2;
        content: "";
    }
}

/* Add new offer */
.new-offer-form {
    display: inline-block;
    box-sizing: border-box;
    .new-offer-btn {
        display: block;
        margin: 0;
        a {
            display: block;
            position: relative;
            padding: 15px 18px 15px 45px;
        }
        span {
            position: absolute;
            left: 13px;
            top: 14px;
        }
    }
    .form-wrap {
        box-sizing: border-box;
        display: none;
    }
    .col {
        width: 50%;
        box-sizing: border-box;
    }
    &.active {
        width: 100%;
        padding: 30px 20px 20px;
        .new-offer-btn {
            display: none;
        }
        .form-wrap {
            display: block;
        }
    }
}

/* Buttons */
.btn {
    @simple-extend-addto material-box;
    display: inline-block;
    padding: 8px 18px;
    background: $color;
    color: #fff;
    text-decoration: none;
    &:hover {
        background: $color-h;
        color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:focus,
    &:active {
        background: $color-a;
        color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    &.btn-light {
        background: #fff;
        color: $color-a;
    }
    &.btn-light:hover {
        color: $color-a;
    }
    &.btn-secondary {
        padding: 8px 18px;
        color: $color;
        background: transparent;
        box-shadow: none;
    }
    button& {
      border: none;
    }
}
.buttons {
    text-align: right;
}
.btn-wrap {
    position: absolute;
    right: 0;
    margin: 7px 0;
}
