
/*** GENERAL STYLES ***/

html {
    overflow-y: scroll;
    height: 100%;
}
body {
    height: 100%;
}
body {
    background-image: url(../img/bg.png);
    background-position: top center;
    background-size: cover;
    font: $font;
    color: $color-secondary;
    margin: 0;
}
a {
    text-decoration: none;
    color: $color;
    &:hover,
    &:focus,
    &:active {
        color: $color-a;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: 100;
}
.content {
    position: relative;
    min-height: 100%;
    padding-bottom: 64px;
    padding-top: 46px;
    box-sizing: border-box;
}
.center-align {
    text-align: center !important;
}
