
/*** MENU ***/

#menu-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 46px;
    padding-top: 8px;
    background: transparent;
    border: none;
    z-index: 1;
}
#menu-btn:focus {
    outline: none;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    min-width: 250px;
    max-width: 450px;
    background: #3C3327;
    z-index: 10000;
    @mixin transition 0.2s;
    &.active {
        left: 0;
        width: 75%;
        box-shadow: 0 0 100px #000;
        &+.overlay {
            display: block;
            opacity: 1;
        }
    }
    .icon-wrap {
        right: 0;
        left: auto;
    }
    .icon {
        color: #fff;
        &:hover {
            background:  rgba(0, 0, 0, 0.1);
        }
    }
    h2 {
        margin: 0;
        padding: 12px 20px 10px;
        text-transform: uppercase;
        color: #fff;
        background:  rgba(0, 0, 0, 0.1);
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        position: relative;
    }
    a {
        display: block;
        position: relative;
        padding: 15px 45px 15px 48px;
        color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:hover {
            background: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
    }
    span {
        position: absolute;
        left: 17px;
        top: 14px;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=radio] {
        display: none;
    }
    label {
        display: block;
        position: relative;
        padding: 15px 45px 15px 43px;
        color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
        &:before {
            content: "";
            position: absolute;
            left: 20px;
            top: 15px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid #fff;
        }
    }
    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before {
        background: #fff;
    }
    select {
        display: block;
        position: relative;
        width: 100%;
        padding: 15px 45px 15px 43px;
        color: #fff;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0;
        background: transparent;
        outline: none;
        font: $font;
        cursor: pointer;
        -webkit-appearance: none;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
    }
    .select-icon {
        position: absolute;
        top: 7px;
        left: 6px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            width: 9.5px;
            height: 1px;
            background: #fff;
        }
        &:before {
            -webkit-transform: rotate(45deg);
            left: 13px;
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            left: 19.5px;
        }
    }

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 9999;
    @mixin transition 0.2s;
}
