
/*** OFFERS ***/

.offers {
    padding: 0;
    &.filled + .offers-wrap.filled {
      margin-top: 15px;
    }
    + .offers {
        margin-top: 15px;
    }
}
.offers-group {
    @simple-extend-addto material-box;
    display: inline-block;
    width: 100%;
    margin: -2px 0;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 0;
    transition: .2s;
    &:first-of-type {
        margin-top: 0;
        border-radius: 2px 2px 0 0;
    }
    &:last-of-type {
        margin-bottom: -4px;
        border: none;
        border-radius: 0 0 2px 2px;
    }
    h3 {
        margin: 0;
        padding: 2px 55px 2px 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        position: relative;
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.icon-wrap {
            position: absolute;
        }
        &.action {
            padding-top: 15px;
            white-space: inherit;
        }
        &.buttons {
            margin-top: 10px;
        }
    }
    p.price {
        position: absolute;
        top: 11px;
        right: 0px;
        padding: 2px 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        width: 60px;
    }
    .col-1 {
        position: relative;
        padding: 11px 11px 11px 45px;
        cursor: pointer;
        box-sizing: border-box;
        h3 {
            padding: 2px 0;
        }
        &:hover,
        &.expand {
            background-color: rgba(0, 0, 0, 0.02);
        }
        &.favorite {
          .icon-8:before {
            content: "k";
            color: $color;
          }
        }
        .icon {
            color: #e0e0e0;
            &:hover {
                color: #999;
            }
        }
        .map {
            width: 100%;
            height: 200px;
            margin: 10px 0 0;
            box-sizing: border-box;
            border-radius: 2px;
            background-size: cover;
            background-position: center;
        }
    }
    .form {
        p {
            position: relative;
            margin: 0 0 30px;
            line-height: inherit;
            font-weight: inherit;
            overflow: visible;
            white-space: inherit;
            &.image-preview {
                margin-top: -31px;
            }
        }
    }
    .thumbnail {
        position: absolute;
        top: 16px;
        left: 10px;
        height: 30px;
        width: 27px;
        background-size: cover;
        background-position: 50%;
        opacity: .2;
        transition: .2s;
    }
}
.offer {
    position: relative;
    padding: 11px;
    padding-left: 47px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
        .thumbnail {
            opacity: 1;
        }
    }
    &.expand {
        background-color: rgba(0, 0, 0, 0.02);
        .thumbnail {
            opacity: 0;
        }
    }
    .icon-15:hover:before {
        content: "r";
        color: $color;
    }
    &.pending {
        opacity: 0.3;
        background-color: rgba(0, 0, 0, 0.06);
        border-bottom: 1px solid #ddd;
        & .icon:before {
            content: "";
            position: absolute;
            left: 16px;
            top: 15px;
            width: 12px;
            height: 12px;
            border: 1px solid #999;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spin 1s linear infinite;
            -moz-animation: spin 1s linear infinite;
            -o-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
        }
    }
    &.warning {
        &:before {
            display: block;
            position: absolute;
            content: "";
            height: 100%;
            width: 2px;
            left: 0px;
            top: 0;
            background: rgb(238, 92, 16);
        }
    }
    .image {
        width: 50%;
        height: 219px;
        margin: 10px 0 0;
        border-radius: 2px;
        background-size: cover;
        background-position: 50%;
    }
}
.edit {
    padding: 0;
    &:hover {
        background: transparent;
        cursor: default;
    }
}
.edit-btn,
.edit-btn a {
    width: 100%;
    height: 100%;
    z-index: 100;
}
.distance {
    color: #999;
    font-size: 13px;
    padding-left: 5px;
}
.secondary {
    height: 0;
    overflow: hidden;
    @mixin transition 0.3s;
    p {
        margin-top: 4px;
        margin-bottom: 0;
    }
}
.expand {
    .secondary {
        height: 229px;
    }
    &.offer {
        .secondary {
            height: 0px;
        }
    }
    &.hasinfo {
        .secondary {
            height: 19px;
        }
        .image {
            height: 200px
        }
    }
    &.hasimage {
        .secondary {
            height: 229px;
        }
    }
}

.col-1,
.col-2 {
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
.col-1 {
    width: 33%;
}
.col-2 {
    width: 67%;
}
.col-wrap {
    display: table;
    width: 100%;
    position: relative;
}
.col-wrap>* {
    display: table-cell;
}
.col-wrap>:first-child {
    margin-right: 12px;
}

.date {
  text-transform: capitalize;
}


/*** ADMIN OFFERS ***/

.admin-offers {
    .col-1 {
        width: 25%;
        cursor: default;
        padding-left: 15px;
        margin-right: -1px;
        border-right: 1px solid #e4e4e4;
        &:hover {
            background: transparent;
        }
        .icon {
            color: $color;
            position: relative;
            padding-left: 20px;
            &:before {
                position: absolute;
                top: 0;
                left: -3px;
                font-size: 21px;
            }
            &:hover {
                color: $color-h;
            }
        }
    }
    .col-2 {
        width: 75%;
    }
    .offer {
        border-left: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        &:last-child {
            border-bottom: 0;
        }
    }
    .icon-wrap {
        strong {
            position: absolute;
            top: 12px;
            left: 13px;
            border-radius: 50%;
            border: 1px solid #EE9910;
            height: 16px;
            width: 18px;
            text-align: center;
            color: #EE9910;
            padding-top: 2px;
            font-weight: 100;
        }
    }
    .edit-btn a {
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}
