.popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 500px;
    margin-left: -250px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.15);
    z-index: 9000;
    &.active {
        display: block;
        + .overlay {
            display: block;
            opacity: 1;
            z-index: 8999;
        }
    }
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 200;
    }
    ul {
        padding: 0;
    }
    li {
        position: relative;
        list-style: none;
    }
    .buttons {
        padding-right: 0;
    }
    .geolocator-canvas {
      height: 300px;
    }
}
