.popup {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 500px;
    margin-left: -250px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.15);
    z-index: 9000;
    + .overlay {
        display: block;
        opacity: 1;
        z-index: 8999;
    }
}
