
/*** RESPONSIVE STYLES ***/

@media (max-width: 991px) {
    .container {
        padding: 0 8px;
    }
    .dropdown {
        left: 8px;
    }
    .image {
        width: 100%;
    }
}

@media (min-width: 768px) {
    /* mobile only */
    .mobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .header {
        position: fixed;
        .btn-wrap {
            margin: 0;
        }
    }
    .search-wrap {
        width: 100%;
        text-align: right;
    }
    #search:focus,
    #search.filled {
        width: 100%;
    }
    .location {
        display: none;
    }
    .popup {
        width: 80%;
        margin-left: -40%;
    }

    /* offer */
    .offer {
        .col-1 {
            display: none;
        }
    }
    .col-2 {
        .secondary & {
            padding: 0;
        }
        .offer & {
            width: 100%;
        }
    }
    .secondary {
        margin-left: -45px;
        .expand & {
            height: 229px;
            margin-bottom: -11px;
        }
        .additional {
            margin-top: 4px;
            margin-bottom: 0;
            padding-left: 45px;
        }
    }
    .image {
        width: 100%;
        border-radius: 0;
    }
    .form p {
        &.image-preview {
            height: 220px;
            margin-bottom: 30px;
        }
    }

    /* desktop only */
    .desktop {
        display: none !important;
    }
}
