
/*** RESPONSIVE STYLES ***/

@media (max-width: 991px) {
    .container {
        padding: 0 8px;
    }
    .dropdown {
        left: 8px;
    }
    .offer .image {
        width: 100%;
    }
}

@media (min-width: 768px) {
    /* mobile only */
    .mobile {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    header {
        position: fixed;
        padding: 0 8px;
        .btn-wrap {
            margin: 0;
        }
        .icon-wrap {
            margin-left: 0;
        }
    }
    .search-wrap {
        width: 100%;
        margin-right: 0;
        text-align: right;
    }
    #search:focus,
    #search.filled {
        width: 100%;
    }
    .location {
        display: none;
    }
    .popup {
        width: 90%;
        margin-left: -45%;
    }

    /* offers */
    .offers-group {
        .col-1,
        .col-2 {
            width: 100%
        }
    }
    .offer {
        padding-left: 45px;
        .image {
            width: 100%;
            border-radius: 0;
            margin-left: -45px
        }
    }
    .offer-content {
        padding-left: 45px;
    }
    .secondary {
        margin-left: -45px;
        margin-right: -11px;
        p {
            padding-left: 45px;
            padding-right: 11px;
        }
    }
    .expand {
        .secondary {
            height: 248px;
            margin-bottom: -11px;
        }
        &.hasinfo {
            .secondary {
                height: 29px;
            }
        }
        &.hasimage {
            .secondary {
                height: 310px;
            }
            .image {
                height: 300px;
            }
            &.hasinfo {
                .secondary {
                    height: 329px;
                }
            }
        }
    }
    .form p {
        &.image-preview {
            height: 220px;
            margin-bottom: 30px;
        }
    }
    .admin-offers {
        .offer {
            padding-left: 0;
        }
        .col-1 {
            width: 30%;
        }
        .col-2 {
            width: 70%;
        }
    }

    /* desktop only */
    .desktop {
        display: none !important;
    }
}
@media (max-width: 530px) {
    header {
        &.admin-header {
            a {
                width: 47px;
                span {
                    text-indent: -9999px;
                }
            }
        }
    }
    .left {
        margin-left: -8px;
    }
    .right {
        margin-right: -8px;
    }
    .offer {
        .image {
            height: 250px;
        }
    }
    .admin-offers {
        .col-1,
        .col-2 {
            width: 100%;
        }
        .col-1 {
            border-bottom: 1px solid #f0f0f0
        }
    }
    .expand {
        &.hasimage {
            .secondary {
                height: 260px;
            }
            &.hasinfo {
                .secondary {
                    height: 279px;
                }
            }
        }
    }
    .dropdown {
        width: 100%;
        left: 0;
        .geolocator-canvas {
            width: 100%;
        }
    }
}

@media (max-width: 430px) {
    header {
        .icon-label {
            display: none;
        }
    }
    .select-dropdown {
        margin-left: -25px;
    }
    .offer {
        .image {
            height: 200px;
        }
    }
    .expand {
        &.hasimage {
            .secondary {
                height: 210px;
            }
            &.hasinfo {
                .secondary {
                    height: 229px;
                }
            }
        }
    }
}

@media (max-width: 300px) {
    .select-dropdown {
        display: none;
    }
}
