
/*** VARIABLES AND MIXINS ***/

$color: #ff8200;
$color-h: #dd7407;

$color-secondary: #222;
$color-secondary-2: #bbb;

$color-error: #dc1818;
$color-success: #42a90e;

$font-family: 'Open Sans', sans-serif;
$font-size: 13px;
$font-weight: 400;
$font: 400 13px 'Open Sans', sans-serif;

@simple-extend-define material-box {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.2);
}

@define-mixin transition $duration {
    -webkit-transition: all $duration cubic-bezier(0, .4, .3, 1));
    transition: all $duration cubic-bezier(0, .4, .3, 1);
}

@-webkit-keyframes spin {
    0%   { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}
@keyframes spin
{
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}
