
/*** VARIABLES AND MIXINS ***/

$color: #ee9910;
$color-h: #ec8a0b;
$color-a: #d96805;

$color-secondary: #222;
$color-secondary-2: #bbb;

$color-error: #dc1818;
$color-success: #42a90e;

$font-family: 'Lato', sans-serif;
$font-size: 13px;
$font-weight: 300;
$font: 300 13px 'Lato', sans-serif;

@simple-extend-define material-box {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

@define-mixin transition $duration {
    transition-property: all;
    transition-duration: $duration;
    transition-timing-function: default;
    transition-delay: 0s;
}

@-webkit-keyframes spin {
    0%   { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}
@keyframes spin
{
    0% { transform: rotate(0deg);}
    100%   { transform: rotate(360deg);}
}
