
/*** RESPONSIVE STYLES ***/

@media (max-width: 1212px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 1012px) {
    .container {
        width: 700px;
        padding: 0 8px;
    }
    .controls form {
        visibility: hidden;
    }
}
@media (min-width: 713px) {
    .mobile {
        display: none;
    }
}

/* mobile */
@media (max-width: 712px) {
    .container {
        width: 100%;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        .btn-wrap {
            margin: 0;
        }
    }
    .content {
        padding-top: 46px;
    }
    .search-wrap {
        width: 100%;
        text-align: right;
    }
    #search:focus,
    #search.filled {
        width: 100%;
    }

    /* offer */
    .offer {
        .col-1 {
            display: none;
        }
    }
    .col-2 {
        .secondary & {
            padding: 0;
        }
        .offer & {
            width: 100%;
        }
    }
    .name {
        height: 15px;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 1;
    }
    .secondary {
        margin-left: -45px;
        .expand & {
            height: 229px;
            margin-bottom: -11px;
        }
        .info {
            margin-top: 4px;
            padding-left: 45px;
        }
    }
    .image {
        width: 100%;
        border-radius: 0;
    }

    /* desktop or mobile only */
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
