<div class="header">
    <div class="container">
        <div class="header-wrap">
            <p class="icon-wrap">
                <button ng-click="menuState1='active'" class="icon icon-5">
                    <span class="icon-label">{{region}}</span>
                </button>
            </p>
            <p id="logo">Luncher</p>
            <p class="search-wrap" ng-controller="SearchCtrl">
                <input ng-class="{ 'filled': query.length }" id="search" type="text" ng-model="query">
                <button ng-click="query = ''" id="search-submit" class="icon-7"></button>
            </p>
        </div>
    </div>
</div>
<div class="content">
    <div ng-class="menuState1" class="menu">
        <h2>Asukoha seaded</h2>
        <p class="icon-wrap">
            <button ng-click="menuState1=''" class="icon icon-9"></button>
        </p>
        <offer-source-selection on-region-selected="loadOffersForRegion($region); menuState1=''"
                                on-location-selected="loadOffersNearLocation($lat, $lng); menuState1=''">
        </offer-source-selection>
    </div>
    <div class="overlay" ng-click="menuState1=''"></div>
    <div ng-class="menuState2" class="menu">
        <h2>Filtreeri</h2>
        <p class="icon-wrap">
            <button ng-click="menuState2=''" class="icon icon-9"></button>
        </p>
        <form>
            <ul ng-controller="TagListCtrl">
                <li ng-repeat="tag in tagList">
                    <input type="checkbox" id="checkbox-{{tag.name}}" name="meat" ng-model="tag.selected">
                    <label for="checkbox-{{tag.name}}">{{tag.display_name}}</label>
                </li>
            </ul>
        </form>
    </div>
    <div class="overlay" ng-click="menuState2=''"></div>
    <div class="container">
        <div class="controls">
            <div class="col-1">
                <offers-sorter id="location-sort-label" order-by="restaurant.name">
                    Asukoht
                </offers-sorter>
            </div>
            <div class="col-2">
                <div class="col-wrap">
                    <a href="javascript:undefined" ng-click="menuState2='active'">Filtreeri</a>
                    <!--form class="dropdown" ng-class="filtersState">
                        <ul ng-controller="TagListCtrl">
                            <li ng-repeat="tag in tagList">
                                <input type="checkbox" id="checkbox-{{tag.name}}" name="meat" ng-model="tag.selected">
                                <label ng-class="{selected: tag.selected}" for="checkbox-{{tag.name}}">{{tag.display_name}}</label>
                            </li>
                        </ul>
                        <p class="icon-wrap">
                            <button ng-click="filtersState=''" class="icon icon-9"></button>
                        </p>
                    </form-->
                    <offers-sorter is-numeric="true" order-by="price" id="price-sort-label" class="price-sorter">
                        Hind
                    </offers-sorter>
                </div>
            </div>
        </div>
        <div class="offers-wrap">
            <div class="offer" ng-repeat="offer in offers | search | tag | order" id="{{offer._id}}"
                 ng-click="toggle.state = !toggle.state" ng-class="{expand: toggle.state, favorite: offer.isFavorite}">
                <p class="icon-wrap">
                  <!-- stop event propagation to avoid expanding the offer when the user just wants to favorite -->
                  <a href="javascript:undefined" class="icon icon-8" ng-click="toggleFavorite(offer.restaurant.name); $event.stopPropagation()"></a>
                </p>
                <div class="offer-content">
                    <div class="col-1">
                        <p>{{offer.restaurant.name}}</p>
                        <p class="additional">{{offer.restaurant.address}}</p>
                    </div>
                    <div class="col-2">
                        <div class="col-wrap">
                            <p class="mobile">{{offer.restaurant.name}}</p>
                            <p class="desktop">{{offer.title}}</p>
                            <p class="price">{{offer.price | currency:'€'}}</p>
                        </div>
                        <p class="additional mobile">{{offer.title}}</p>
                        <p class="additional desktop">{{offer.ingredients | joinTags}}</p>
                    </div>
                </div>
                <div class="secondary">
                    <div class="col-1">
                        <div class="map" ng-style="{'background-image': 'url(https://maps.googleapis.com/maps/api/staticmap?center={{getLatLng(offer)}}&zoom=17&size=400x200&scale=2&markers=color:red%7C{{getLatLng(offer)}}&key=AIzaSyDf4MxGKR5Ejn6uDv3IjaNuqZcfO-ivyV8)'}">
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="additional mobile">{{offer.ingredients | joinTags}}</p>
                        <p class="image" ng-style="{'background-image':'url(../{{offer.image}})'}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
