<header>
    <div class="container">
        <p class="left">
            <a href="javascript:undefined" ng-click="vm.state.regionSelectionDropdown=!vm.state.regionSelectionDropdown" ng-class="{active: vm.state.regionSelectionDropdown}" class="icon icon-22">
                <span>{{vm.offerSource.region}}</span>
            </a>
        </p>
        <h1 id="logo">Luncher.ee - Päevapakkumised</h1>
        <p class="search-wrap" ng-controller="SearchCtrl as search">
            <input ng-class="{ 'filled': search.query.length }" id="search" type="text" ng-model="search.query">
            <button ng-click="search.query = ''" id="search-submit" class="icon-7"></button>
        </p>
    </div>
</header>
<div class="popup" ng-class="vm.state.sourceSelectionPopup">
    <h2>Vali enda asukoht</h2>
    <offer-source-selection on-selected="vm.state.sourceSelectionPopup=''">
    </offer-source-selection>
</div>
<div class="overlay"></div>
<div class="content">
    <div class="container">
        <div class="dropdown" ng-class="{active: vm.state.regionSelectionDropdown}">
            <region-selection on-selected="vm.state.regionSelectionDropdown=!vm.state.regionSelectionDropdown">
            </region-selection>
        </div>
        <div class="overlay" ng-click="vm.state.regionSelectionDropdown=!vm.state.regionSelectionDropdown"></div>
        <div class="dropdown" ng-class="vm.state.geolocatorDropdown">
            <div class="dropdown-inner">
                <geolocator on-selected="vm.state.geolocatorDropdown=''" ng-show="vm.state.geolocatorDropdown">
                </geolocator>
            </div>
        </div>
        <div class="overlay" ng-click="vm.state.geolocatorDropdown=''"></div>
        <div class="controls">
            <div class="col-1">
                <p ng-if="!vm.offerSource.location">
                    <a href="javascript:undefined" ng-click="vm.state.geolocatorDropdown='active'">
                        Kaugus
                    </a>
                </p>
                <!-- This sorter needs to use ng-show instead of ng-if in order to be ready
                     to react to offer source changes. If a location is used as a offer source
                     then this will be set active. -->
                <offers-sorter ng-show="vm.offerSource.location" is-numeric="true" order-by="restaurant.distance">
                    Kaugus
                </offers-sorter>
            </div>
            <div class="col-2">
                <div class="col-wrap">
                    <div ng-controller="TagListCtrl as tags">
                        <ul class="horizontal desktop">
                            <li ng-repeat="tag in tags.list | filter:tags.isMainTag | orderBy:tags.mainTagIndex">
                                <input type="checkbox" id="checkbox-{{tag.name}}" name="tag.name" ng-model="tag.selected">
                                <label ng-class="{selected: tag.selected}" for="checkbox-{{tag.name}}">{{tag.display_name}}</label>
                            </li>
                        </ul>
                        <div class="select-dropdown" ng-class="{active: vm.state.filtersDropdown}">
                            <p>
                                <a class="desktop" href="javascript:undefined" ng-click="vm.state.filtersDropdown=!vm.state.filtersDropdown">
                                    {{(tags.selected | joinTags) || 'Veel filtreid'}}
                                    <span class="icon-wrap">
                                        <span class="icon icon-22"></span>
                                    </span>
                                </a>
                                <a class="mobile" href="javascript:undefined" ng-click="vm.state.filtersDropdown=!vm.state.filtersDropdown">
                                    {{(tags.selected | joinTags) || 'Filtreeri'}}
                                    <span class="icon-wrap">
                                        <span class="icon icon-22"></span>
                                    </span>
                                </a>
                            </p>
                            <form class="dropdown desktop">
                              <ul>
                                  <li ng-repeat="tag in tags.list | filter:tags.isNotMainTag">
                                      <input type="checkbox" id="checkbox-{{tag.name}}" name="tag.name" ng-model="tag.selected">
                                      <label ng-class="{selected: tag.selected}" for="checkbox-{{tag.name}}">{{tag.display_name}}</label>
                                  </li>
                              </ul>
                            </form>
                            <form class="dropdown mobile">
                              <ul>
                                  <li ng-repeat="tag in tags.list">
                                      <input type="checkbox" id="checkbox-{{tag.name}}" name="tag.name" ng-model="tag.selected">
                                      <label ng-class="{selected: tag.selected}" for="checkbox-{{tag.name}}">{{tag.display_name}}</label>
                                  </li>
                              </ul>
                            </form>
                        </div>
                        <div class="overlay" ng-click="vm.state.filtersDropdown=!vm.state.filtersDropdown"></div>
                    </div>
                    <offers-sorter is-numeric="true" order-by="price" class="price-sorter">
                        Hind
                    </offers-sorter>
                </div>
            </div>
        </div>
        <offer-list has-offers="vm.hasOffers"></offer-list>
        <p class="message" ng-hide="vm.hasOffers">
          <span class="icon icon-20"></span>
          Vabandame, pakkumised puuduvad.
        </p>
    </div>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="mailto:info@luncher.ee">info@luncher.ee</a></li>
                <li><a href="tel:+372 5624 1163">+372 5624 1163</a></li>
            </ul>
        </div>
    </div>
</div>
