
/***** MAIN *****/
html, body {
    height: 100%;
}
body {
    background-image: url(../img/bg.png);
    background-position: top center;
    background-size: cover;
    height: 100%;
    color: #222;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proxima Nova', sans-serif;
}
textarea, input {
    outline: none;
}
.icon {
    float: left;
    margin: 4px 15px 0 0;
}
.icon a {
    color: #222;
}

/***** HEADER *****/
.header {
    height: 50px;
    background: #4385ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.header-wrapper {
    padding: 10px 15px;
}
.header .name {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Proxima Nova', sans-serif;
}
.header .icon  {
    margin-right: 14px;
}
.header .icon a {
    color: #fff;
}
.header .icon a:hover {
    text-shadow: 0px 0px 5px #000;
}
#date {
    margin: 2px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
}
.search-wrapper {
    display: inline-block;
    position: relative;
    width: auto;
}
#search {
    position: relative;
    padding: 7px 29px 3px 12px;
    margin-left: -15px;
    width: 40px;
    border-radius: 4px;
    color: #222;
    background: transparent;
    z-index: 5;
    font-family: 'Proxima Nova', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: default;
    -moz-transition-delay: 0s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: default;
    -webkit-transition-delay: 0s;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: default;
    -o-transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: default;
    transition-delay: 0s;
}
#search-submit {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    z-index: 3;
}
#search-submit:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 10px;
    height: 9px;
    width: 9px;
    border-radius: 5px;
    border: 1px solid #fff;
}
#search-submit:after {
    content: "";
    position: absolute;
    left: 16px;
    top: 19px;
    height: 1px;
    width: 4px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #fff;
}
#search-submit:focus {
    outline: none;
}
#search:focus {
    width: 250px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
    z-index: 1;
    cursor: text;
}
#search:focus + #search-submit:before {
    border: 1px solid #4385ff;
}
#search:focus + #search-submit:after {
    background: #4385ff;
}
#search:hover {
    background: rgba(67, 133, 255, 0.3);
}
#search:focus:hover {
    background: #fff;
}
#search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/***** CONTROLS BAR *****/
.top-area {
    background: rgba(255,255,255,0.4);
    font-weight: 400;
}
.controls-wrapper {
    height: 49px;
    padding: 15px 16px 15px 35px;
    color: #fff;
    font-size: 13px;
}
.control-label {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
}
.control-label a {
    color: #fff;
}
#price-sort-label {;
    padding-left: 15px;
}
.controls .icon {
    margin-top: 1px;
}
.controls-wrapper label {
    margin-right: 5px;
    margin-left: -14px;
    padding-left: 16px;
    font-family: 'Proxima Nova', sans-serif;
    cursor: pointer;
}
.controls-wrapper input[type=checkbox] {
    cursor: pointer;
}
.controls-wrapper a:hover,
.controls-wrapper input[type=checkbox]:checked + label,
.controls-wrapper input[type=checkbox]:hover + label,
.controls-wrapper input[type=checkbox] + label:hover {
    text-decoration: none;
    color: #fff;
}
.sorter-icon-wrapper.ng-hide{
    display:inline!important;
    visibility: hidden;
}
.controls-wrapper form span {
    position: relative;
    margin-right: 15px;
    font-family: 'Proxima Nova', sans-serif;
}
.controls-wrapper input {
    visibility: hidden;
}
.controls-wrapper label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    border: 1px solid #fff;
}
.controls-wrapper input[type=checkbox]:checked + label:before {
    background: #fff;
}
/***** OFFERS *****/
.bottom-area {
    min-height: 100%;
    padding-top: 10px;
    background: rgba(255,255,255,0.85);
}
.offer {
    position: relative;
    height: 50px;
    border-radius: 4px;
    padding: 14px 15px 14px 35px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
}
.offer p {
    font-family: 'Proxima Nova', sans-serif;
}
.offer:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 20px;
    height: 10px;
    width: 10px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}
.offer.fav:before {
    background: #4385ff;
    border: 1px solid #4385ff;
}
h2,
.price,
.date,
.offer .name {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.date,
.offer h2,
.offer .name {
    float: left;
    margin-right: 8px;
}

.time,
.info {
    position: relative;
    margin-top: 5px;
    padding-left: 12px;
    font-size: 13px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time:before,
.info:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    height: 1px;
    width: 4px;
    background: #222;
}

/***** FOOTER *****/

/***** FONTS *****/
@font-face {
    font-family: Proxima Nova;
    src: url(ProximaNova-Light-webfont.ttf);
}
