
/***** MAIN *****/
html, body {
    height: 100%;
}
body {
    background-image: url(../img/bg.png);
    background-position: top center;
    background-size: cover;
    color: #222;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.content {
    min-height: 100%;
    background: rgba(255,255,255,0.85);
    padding-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proxima Nova', sans-serif;
}
textarea, input {
    outline: none;
}
.icon {
    float: left;
    position: relative;
    width: 22px;
    height: 22px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    cursor: pointer;
}
.icon a {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.icon i {
    position: absolute;
    top: 5px;
    left: 5px;
}
.btn {
    padding: 6px 12px;
    border-radius: 3px;
    background: #4385ff;
    color: #fff;
    text-decoration: none;
    transition: .2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background: #1577e9;
    color: #fff;
    text-decoration: none;
}
.btn:focus,
.btn:active {
    background: #0b6ad8;
    color: #fff;
    text-decoration: none;
}

/***** HEADER *****/
.header {
    position: relative;
    height: 46px;
    background: #4385ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.header-wrapper {
    padding: 8px 0;
}
.header .name {
    display: inline-block;
    margin: 4px 0;
    color: #fff;
    font-weight: 400;
    font-family: 'Proxima Nova', sans-serif;
}
.header .icon i {
    color: #fff;
}

/* settings btn */
.header .settings {
    display: inline-block;
    margin: 1px 0;
    float: right;
}
.header .settings a {
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;
}
.header .settings a:hover {
    opacity: 0.8;
    text-decoration: none;
}
.header .settings .icon {
    margin-right: 5px;
}
.header .settings i {
    top: 6px;
}

/* date title */
#date {
    margin: 2px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
}

/* search */
.search-wrapper {
    display: inline-block;
    position: relative;
    width: auto;
}
#search {
    position: relative;
    padding: 4px 29px 3px 12px;
    width: 40px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    color: #222;
    background: transparent;
    z-index: 5;
    font-family: 'Proxima Nova', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: default;
    -moz-transition-delay: 0s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: default;
    -webkit-transition-delay: 0s;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: default;
    -o-transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: default;
    transition-delay: 0s;
}
#search-submit {
    position: absolute;
    right: 2px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    z-index: 3;
}
#search-submit:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 10px;
    height: 9px;
    width: 9px;
    border-radius: 5px;
    border: 1px solid #fff;
}
#search-submit:after {
    content: "";
    position: absolute;
    left: 16px;
    top: 19px;
    height: 1px;
    width: 4px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #fff;
}
#search-submit:focus {
    outline: none;
}
#search:focus {
    width: 250px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.07);
    z-index: 1;
    cursor: text;
}
#search:focus + #search-submit {
    right: 0px;
}
#search:focus + #search-submit:before {
    border: 1px solid #4385ff;
}
#search:focus + #search-submit:after {
    background: #4385ff;
}
#search:hover {
    background: rgba(67, 133, 255, 0.3);
}
#search:focus:hover {
    background: #fff;
}
#search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* header btn */
.header .btn {
    background: #fff;
    color: #4385ff;
}
.header .btn:hover {
    background: rgba(255, 255, 255, 0.85);
    color: #4385ff;
    text-decoration: none;
}
.header .btn:focus,
.header .btn:active {
    background: rgba(255, 255, 255, 0.75);
    color: #4385ff;
    text-decoration: none;
}

/***** CONTROLS BAR *****/
.controls {
    height: 42px;
    padding: 13px 16px 13px 13px;
    color: #4385ff;
    font-size: 13px;
}
.control-label {
    margin: 0;
    font-family: 'Proxima Nova', sans-serif;
}
.control-label a {
    color: #4385ff;
}
#price-sort-label .icon {
    position: absolute;
    left: -10px;
}
.control-label .icon {
    top: -2px;
    width: 32px;
    font-size: 11px;
    margin-right: 0;
}
.control-label .icon i {
    position: absolute;
    top: 5px;
    left: 5px;
}
.controls label {
    margin-right: 5px;
    margin-left: -14px;
    padding-left: 16px;
    font-family: 'Proxima Nova', sans-serif;
    cursor: pointer;
}
.controls input[type=checkbox] {
    cursor: pointer;
}
.controls a:hover,
.controls a:focus,
.controls input[type=checkbox]:checked + label,
.controls input[type=checkbox]:hover + label,
.controls input[type=checkbox] + label:hover {
    text-decoration: none;
    color: #4385ff;
}
.sorter-icon-wrapper.ng-hide{
    display:inline!important;
    visibility: hidden;
}
.controls form span {
    position: relative;
    margin-right: 15px;
    font-family: 'Proxima Nova', sans-serif;
}
.controls input {
    visibility: hidden;
}
.controls label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border: 1px solid #4385ff;
}
.controls input[type=checkbox]:checked + label:before {
    background: #4385ff;
}

/***** OFFERS *****/
.offer {
    position: relative;
    border-radius: 3px;
    padding: 11px 15px 9px 12px;
    margin-bottom: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}
.offer:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.offer p {
    font-family: 'Proxima Nova', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.offer .icon a:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 6px;
    top: 7px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    transition: .2s;
}
.icon a:hover:before {
    border: 1px solid #b3b3b3;
}
.offer.fav:before,
.icon a:focus:before,
.icon a:active:before {
    background: #4385ff;
    border: 1px solid #4385ff;
}

.offer .icon.edit a:before {
    display: none;
}
.offer .icon.edit a i {
    color: #4385ff;
    transition: .2s;
}
.offer .icon.edit a:hover i,
.offer .icon.edit a:focus i,
.offer .icon.edit a:active i {
    color: #156fe5;
}

h2,
.price,
.time,
.offer .name {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.date {
    display: none;
}
.time,
.offer h2 {
    float: left;
    margin-right: 8px;
}
.offer .name {
    margin-right: 8px;
}
.info {
    position: relative;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 13px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
h2+.info {
    margin-top: 5px;
    padding-left: 12px;
}
h2+.info:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    height: 1px;
    width: 4px;
    background: #222;
}

.secondary {
    display: none;
}
.expand .secondary {
    display: block;
}
.day-sep {
    margin: 12px 0 10px;
    color: #156fe5;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
}

/***** ADD NEW *****/
.add-new-offer {
    display: inline-block;
    margin: 5px 0;
}

/***** FOOTER *****/

/***** FONTS *****/
@font-face {
    font-family: Proxima Nova;
    src: url(ProximaNova-Light-webfont.ttf);
}

/***** MEDIA *****/
@media ( max-width: 992px ) {
    #date {
        position: absolute;
        top: -30px;
        width: 100%;
    }
}
@media ( max-width: 767px ) {
    .offer .name {
        display: none;
    }
    .offer h2 {
        position: absolute;
        left: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .offer .price {
        position: absolute;
        right: 0px;
    }
    .controls {
        display: none;
    }
    .content {
        padding-top: 8px;
    }
}
@media ( max-width: 620px ) {
    .offer h2 {
        width: 85%;
        left: 14px;
    }
    .offer h2,
    .offer .price {
        font-size: 15px;
        padding: 1px 0;
    }
    .offer .icon a:before {
        left: 5px;
        top: 6px;
    }
}
