
/***** MAIN *****/
html, body {
    height: 100%;
}
body {
    background: #fbfbfb;
    height: 100%;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
h2, h3, .offer p {
    margin: 0;
}
h2, h3, p.price {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    float: left;
    margin-right: 10px;
}
h4 {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}
p.info {
    margin-top: 6px;
    height: 20px;
    overflow: hidden;
}
textarea, input {
    outline: none;
}

/***** HEADER *****/
.header {
    height: 58px;
    padding: 14px 0;
    background-color: #21a45b;
    border-bottom: 1px solid #10522e;
    background-image: url(../img/header_bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
input.search {
    padding: 4px 10px;
    width: 100%;
    border: 1px solid #fff !important;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: default;
    -moz-transition-delay: 0s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: default;
    -webkit-transition-delay: 0s;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: default;
    -o-transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: default;
    transition-delay: 0s;
}
input.search:focus, input.search:focus:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
}
input.search:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
input.search:focus::-webkit-input-placeholder {
    color: #000;
}
input.search:focus:-moz-placeholder {
    color: #000;
}
input.search:focus::-moz-placeholder {
    color: #000;
}
input.search:focus:-ms-input-placeholder {
    color: #000;
}
input.search::-webkit-input-placeholder {
    color: #fff;
}
input.search:-moz-placeholder {
    color: #fff;
}
input.search::-moz-placeholder {
    color: #fff;
}
input.search:-ms-input-placeholder {
    color: #fff;
}

/***** FILTER *****/
.filter {
    height: 50px;
    padding: 15px 0;
    background-image: url(../img/filter_bg.png);
    background-repeat: repeat-x;
    background-position: top;
    font-weight: 400;
}
.filter-wrapper {
    padding: 0 11px;
}
.filter a, .filter label {
    text-transform: uppercase;
    color: #939393;
}
.filter label {
    margin-right: 10px;
    padding-left: 2px;
    cursor: pointer;
}
.filter input[type=checkbox] {
    cursor: pointer;
}
.filter a:hover, .filter input[type=checkbox]:checked + label, .filter input[type=checkbox]:hover + label, .filter input[type=checkbox] + label:hover {
    text-decoration: none;
    color: #000;
}

.order-asc:after {
    content:'\2228';
}

.order-desc:after {
    content:'\2227';
}

/***** OFFERS *****/
.offer {
    height: 50px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    padding: 11px 10px;
    margin-bottom: 15px;
    background-color: #ececec;
}


/***** FOOTER *****/

