<div>
<li ng-repeat="region in regions">
    <input type="radio" id="region-selection-{{$id}}" ng-model="state.offerSource.region"
           ng-change="onRegionSelected({$region: region.name}); state.offerSource={region: state.offerSource.region}"
           ng-value="region.name">
           <!-- See offerSourceSelection.directive for reasons why we clean up the
                state.offerSource object on ng-change -->
    <label for="region-selection-{{$id}}"> {{region.name}} </label>
</li>
</div>
