<div class="offers-wrap" ng-repeat="offersByRestaurant in ctrl.offersByRestaurantByFavorite">
  <div class="restaurant-wrap" ng-repeat="restaurant in offersByRestaurant">
      <div class="col-1">
          <div class="restaurant" ng-click="offer.toggle.state = !offer.toggle.state" ng-class="{favorite: restaurant.isFavorite, expand: offer.toggle.state}">
              <p class="icon-wrap">
                <a href="javascript:undefined" class="icon icon-8" ng-click="ctrl.toggleFavorite(restaurant.name)"></a>
              </p>
              <h3>
                  {{restaurant.name}}
                  <span class="distance">
                      {{restaurant.distance | approximateDistance}}
                  </span>
              </h3>
              <p class="desktop">{{restaurant.address}}</p>
              <div class="secondary">
                  <p class="mobile">{{restaurant.address}}</p>
                  <p><a href="#">+372 5678 910</a></p>
                  <p class="map" ng-style="{'background-image': 'url(https://maps.googleapis.com/maps/api/staticmap?center={{vm.getLatLng(offer)}}&zoom=17&size=400x200&scale=2&markers=color:red%7C{{vm.getLatLng(offer)}}&key=AIzaSyDf4MxGKR5Ejn6uDv3IjaNuqZcfO-ivyV8)'}"></p>
              </div>
              <div class="col-2">
                  <p class="additional mobile">{{offer.ingredients | joinTags}}</p>
                  <p class="image" ng-style="{'background-image':'url(../{{offer.image}})'}"></p>
              </div>
          </div>
      </div>
      <div class="col-2">
          <div class="offer" ng-repeat="offer in restaurant.offers" ng-click="offer.toggle.state = !offer.toggle.state" ng-class="{expand: offer.toggle.state}">
              <h3>{{offer.title}}</h3>
              <p>{{offer.ingredients | joinTags}}</p>
              <p class="price">{{offer.price | currency:'€'}}</p>
              <div class="secondary">
                  <p>Lisainfo</p>
                  <p class="image" ng-style="{'background-image':'url(../{{offer.image}})'}"></p>
              </div>
          </div>
      </div>
  </div>
</div>
