<header>
    <div class="container">
        <h1 id="logo">Luncher.ee - Päevapakkumised</h1>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="form-wrap">
            <p class="message" ng-show="vm.errorMessage">
              <span class="icon icon-20"></span>
              Midagi läks valesti. Server vastas veaga: {{vm.errorMessage}}
            </p>
            <form class="form" name="form" ng-submit="vm.submit()" novalidate>
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <p>
                            <input ng-model="vm.restaurant.name" name="name" id="restaurantName" type="text" required>
                            <label ng-class="{filled: form.name.$viewValue}" for="restaurantName">
                                <span ng-show="!vm.isReadyForError(form.name)">
                                    Söögikoha nimi
                                </span>
                                <span ng-show="vm.isReadyForError(form.name)" class="errors">
                                  <span ng-show="form.name.$error.required">
                                    Nimi on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.address" name="address" id="restaurantAddress" type="text" required>
                            <label ng-class="{filled: form.address.$viewValue}" for="restaurantAddress">
                                <span ng-show="!vm.isReadyForError(form.address)">
                                    Aadress
                                </span>
                                <span ng-show="vm.isReadyForError(form.address)" class="errors">
                                  <span ng-show="form.address.$error.required">
                                    Aadress on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.phone" name="phone" id="restaurantPhone" type="text" required>
                            <label ng-class="{filled: form.phone.$viewValue}" for="restaurantPhone">
                                <span ng-show="!vm.isReadyForError(form.phone)">
                                    Telefoni number
                                </span>
                                <span ng-show="vm.isReadyForError(form.phone)" class="errors">
                                  <span ng-show="form.phone.$error.required">
                                    Telefoni number on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.webpage" name="webpage" id="restaurantWebpage" type="text" required>
                            <label ng-class="{filled: form.webpage.$viewValue}" for="restaurantWebpage">
                                <span ng-show="!vm.isReadyForError(form.webpage)">
                                    Kodulehe aadress
                                </span>
                                <span ng-show="vm.isReadyForError(form.webpage)" class="errors">
                                  <span ng-show="form.webpage.$error.required">
                                    Kodulehe aadress on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        siia võiks google map tulla, kus saad asukohta kaardil korrigeerida.
                    </div>
                </div>
                <p class="buttons">
                    <input class="btn" type="submit" ng-disabled="form.$invalid" value="Registreeri">
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="mailto:info@luncher.ee">info@luncher.ee</a></li>
                <li><a href="javascript:undefined">+372 5623 1163</a></li>
            </ul>
        </div>
    </div>
</div>
