<header>
    <div class="container">
        <h1 id="logo">Luncher.ee - Päevapakkumised</h1>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="form-wrap">
            <form class="form" name="registration-form">
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <p>
                            <input ng-model="restaurantName" name="restaurantName" id="restaurantName" type="text" value="La Dolce Vita" required>
                            <label ng-class="{filled: settings.restaurantName.$viewValue}" for="restaurantName">
                                <span>
                                    Söögikoha nimi
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="restaurantAddress" name="restaurantAddress" id="restaurantAddress" type="text" value="Kompanii 10, Tartu" required>
                            <label ng-class="{filled: settings.restaurantAddress.$viewValue}" for="restaurantAddress">
                                <span>
                                    Aadress
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="restaurantPhone" name="restaurantPhone" id="restaurantPhone" type="text" value="+372 567 8910" required>
                            <label ng-class="{filled: settings.restaurantPhone.$viewValue}" for="restaurantPhone">
                                <span>
                                    Telefoni number
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="restaurantWebpage" name="restaurantWebpage" id="restaurantWebpage" type="text" value="ladolcevita.ee" required>
                            <label ng-class="{filled: settings.restaurantWebpage.$viewValue}" for="restaurantWebpage">
                                <span>
                                    Kodulehe aadress
                                </span>
                            </label>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        siia võiks google map tulla, kus saad asukohta kaardil korrigeerida.
                    </div>
                </div>
                <p class="buttons">
                    <input class="btn" type="submit" ng-disabled="registration-form.$invalid" value="Registreeri">
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="mailto:info@luncher.ee">info@luncher.ee</a></li>
                <li><a href="javascript:undefined">+372 5623 1163</a></li>
            </ul>
        </div>
    </div>
</div>
