<header>
    <div class="container">
        <h1 id="logo">Luncher.ee - Päevapakkumised</h1>
    </div>
</header>
<div class="content">
    <div class="login">
        <form name="facebook-page-selection" ng-submit="vm.submit()">
            <p>Vali söögikoha leht, mida soovid registreerida.</p>
            <ul>
                <li ng-repeat="page in vm.pages">
                    <input type="radio" name="facebook-page" ng-model="vm.selectedPage" ng-value="page.id" id="{{$id}}">
                    <label for="{{$id}}"> {{::page.name}} </label>
                </li>
            </ul>
            <p>
                <input class="btn" type="submit" ng-disabled="!vm.selectedPage" value="Kinnita">
            </p>
        </form>
    </div>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="mailto:info@luncher.ee">info@luncher.ee</a></li>
                <li><a href="javascript:undefined">+372 5624 1163</a></li>
            </ul>
        </div>
    </div>
</div>
