<header class="admin-header">
    <div class="container">
        <p class="left">
            <a href="javascript:undefined" ng-click="vm.state.restaurantSelectionDropdown=!vm.state.restaurantSelectionDropdown" ng-class="{active: vm.state.restaurantSelectionDropdown}" class="icon icon-22">
                <span>{{::vm.restaurant.name}}</span>
            </a>
            <a href="javascript:undefined" ng-click="settings.state = !settings.state" ng-class="{'active' : settings.state}" class="icon icon-1 settings-icon">
                <span></span>
            </a>
        </p>
        <h1 id="logo">Luncher.ee - Päevapakkumised</h1>
        <p class="right">
          <a href="/api/v1/logout" class="icon icon-21">
              <span>Logi välja</span>
          </a>
        </p>
    </div>
</header>
<div class="content">
    <div class="container">
        <div class="dropdown" ng-class="{active: vm.state.restaurantSelectionDropdown}">
            <ul>
                <li ng-repeat="restaurant in vm.restaurants">
                    <a ng-href="/#/admin/{{::restaurant._id}}">
                        <input type="radio" id="{{$id}}" name="restaurant-selection" ng-checked="restaurant._id == vm.restaurant._id">
                        <label for="{{$id}}">{{::restaurant.name}}</label>
                    </a>
                </li>
                <li>
                    <a href="/#/register/pages" class="btn icon icon-4">
                        <span>Lisa uus</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="overlay" ng-click="vm.state.restaurantSelectionDropdown=!vm.state.restaurantSelectionDropdown"></div>
        <div class="form-wrap settings" ng-class="{'active' : settings.state}">
            <form class="form" name="form" ng-submit="form.$valid && vm.submit()" novalidate>
                <div class="row">
                    <div class="col-sm-3">
                        <p>
                            <input ng-model="vm.restaurant.name" name="name" id="restaurantName" type="text" required>
                            <label ng-class="{filled: form.name.$viewValue}" for="restaurantName">
                                <span ng-show="!vm.isReadyForError(form.name)">
                                    Söögikoha nimi
                                </span>
                                <span ng-show="vm.isReadyForError(form.name)" class="errors">
                                  <span ng-show="form.name.$error.required">
                                    Nimi on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.address" name="address" id="restaurantAddress" type="text" required
                                   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2000, 'blur': 0} }">
                            <label ng-class="{filled: form.address.$viewValue}" for="restaurantAddress">
                                <span ng-show="!vm.isReadyForError(form.address)">
                                    Aadress
                                </span>
                                <span ng-show="vm.isReadyForError(form.address)" class="errors">
                                  <span ng-show="form.address.$error.required">
                                    Aadress on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.phone" name="phone" id="restaurantPhone" type="text" required>
                            <label ng-class="{filled: form.phone.$viewValue}" for="restaurantPhone">
                                <span ng-show="!vm.isReadyForError(form.phone)">
                                    Telefoni number
                                </span>
                                <span ng-show="vm.isReadyForError(form.phone)" class="errors">
                                  <span ng-show="form.phone.$error.required">
                                    Telefoni number on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.email" name="email" id="restaurantEmail" type="text" required>
                            <label ng-class="{filled: form.email.$viewValue}" for="restaurantEmail">
                                <span ng-show="!vm.isReadyForError(form.email)">
                                    E-posti aadress
                                </span>
                                <span ng-show="vm.isReadyForError(form.email)" class="errors">
                                  <span ng-show="form.email.$error.required">
                                    E-posti aadress on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                        <p>
                            <input ng-model="vm.restaurant.website" name="website" id="restaurantWebsite" type="text" required>
                            <label ng-class="{filled: form.website.$viewValue}" for="restaurantWebsite">
                                <span ng-show="!vm.isReadyForError(form.website)">
                                    Kodulehe aadress
                                </span>
                                <span ng-show="vm.isReadyForError(form.website)" class="errors">
                                  <span ng-show="form.website.$error.required">
                                    Kodulehe aadress on kohustuslik
                                  </span>
                                </span>
                            </label>
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p>
                            <label class="filled">Asukoha täpsustus kaardil</label>
                            <span class="geolocator-wrap">
                                <geo-specifier address="vm.restaurant.address" region="vm.restaruant.region"
                                               register="vm.registerSpecifier($specifier)"></geo-specifier>
                            </span>
                        </p>
                    </div>
                </div>
                <p class="buttons">
                    <a class="btn btn-secondary" href="javascript:undefined" ng-click="settings.state = !settings.state">
                        Loobu
                    </a>
                    <input class="btn" type="submit" value="Salvesta">
                </p>
            </form>
        </div>
        <div class="form-wrap">
          <offer-form ng-show="addingAnOffer" on-submit="vm.postOffer($offer); addingAnOffer=false"
            on-cancel="addingAnOffer=false" restaurant-id="vm.restaurant._id"></offer-form>
          <p ng-show="!addingAnOffer" class="new-offer-btn">
            <a href="javascript:undefined" ng-click="addingAnOffer=true"><span class="icon-4"></span>Lisa uus pakkumine</a>
          </p>
        </div>
        <div ng-controller="RestaurantOfferListCtrl as offerListCtrl">
            <div class="offers admin-offers" ng-repeat="dateOffers in offerListCtrl.offersByDate">
                <div class="offers-group">
                    <div class="col-1">
                        <h3>
                            <span ng-if="offerListCtrl.isToday(dateOffers.date)"><strong>Täna</strong>, </span>
                            <span class="date">{{dateOffers.date | date:'EEEE'}}</span>
                        </h3>
                        <p class="additional">{{dateOffers.date | date:'justDate'}}</p>
                        <p class="action">
                            <a class="icon icon-17" href="javascript:undefined" ng-click="dateOffers.state.fbGroupPost = !dateOffers.state.fbGroupPost">
                                muuda postitust
                            </a>
                        </p>
                        <facebook-group-post date="dateOffers.date | date:'yyyy-MM-dd'"
                          restaurant-id="vm.restaurant._id"
                          default-template="vm.restaurant.default_group_post_message_template"
                          ng-show="dateOffers.state.fbGroupPost"
                          on-cancel="dateOffers.state.fbGroupPost=false"
                          on-submit="dateOffers.state.fbGroupPost=false"></facebook-group-post>
                    </div>
                    <div class="col-2">
                        <div class="offer" ng-class="{edit: offer.editing}" ng-repeat="offer in dateOffers.offers">
                            <offer-form ng-show="offer.editing" edit="offer" on-submit="offerListCtrl.updateOffer($currentOffer, $offer); $offer.editing=false"
                                on-cancel="offer.editing=false" on-delete="offerListCtrl.deleteOffer(offer)"></offer-form>
                            <div ng-show="!offer.editing">
                                <p class="icon-wrap edit-btn">
                                    <a href="javascript:undefined" ng-click="offer.editing=true" class="icon icon-15"></a>
                                </p>
                                <div class="offer-content">
                                    <h3>{{offer.title}}</h3>
                                    <p class="desktop">{{offer.ingredients | joinTags}}</p>
                                    <p class="price">{{offer.price | currency:'€'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="mailto:info@luncher.ee">info@luncher.ee</a></li>
                <li><a href="javascript:undefined">+372 5624 1163</a></li>
                <li><a href="/#/faq"><strong>Abi</strong></a></li>
            </ul>
        </div>
    </div>
</div>
