<form class="offer-form" novalidate ng-submit="submitOffer()" name="form">
  <div class="row">
    <div class="col-md-4 col-sm-3">
      <p>
        <input ng-model="title" name="title" id="{{idPrefix}}title" type="text" ng-minlength="4" ng-maxlength="70" required>
        <label ng-class="{filled: form.title.$viewValue}" for="{{idPrefix}}title">
          <span ng-show="!isReadyForError(form.title)">
            Nimetus
          </span>
          <span ng-show="isReadyForError(form.title)" class="errors">
            <span ng-show="form.title.$error.required">
              Nimetus on kohustuslik.
            </span>
            <span ng-show="form.title.$error.minlength">
              Nimetus peab olema vähemalt 4 tähte.
            </span>
            <span ng-show="form.title.$error.maxlength">
              Nimetus võib olla kuni 70 tähte. ({{40-form.title.$viewValue.length}})
            </span>
          </span>
        </label>
      </p>
      <p>
        <!-- The dirty check isn't working in this version of angular (https://github.com/mbenford/ngTagsInput/issues/341)
                     because of this we have to mark it manually for now-->
        <tags-input ng-model="ingredients" name="ingredients" id="{{idPrefix}}ingredients" min-tags="2" on-tag-added="form.ingredients.$dirty=true"
                    on-tag-removed="form.ingredients.$dirty=true" ng-class="{'ng-dirty': form.ingredients.$dirty}"
                    replace-spaces-with-dashes="false">
          <label ng-class="{filled: ingredients.length || form.ingredients.$error.leftoverText}" for="{{idPrefix}}ingredients">
            <span ng-show="!isReadyForError(form.ingredients) && !(form.ingredients.$touched && form.ingredients.$error.leftoverText)">
              Koostisosad
            </span>
            <span ng-show="isReadyForError(form.ingredients) || form.ingredients.$touched && form.ingredients.$error.leftoverText" class="errors">
              <span ng-show="form.ingredients.$error.leftoverText">
                Viimane koostisosa ei ole sobiv.
              </span>
              <span ng-show="!ingredients.length && !form.ingredients.$error.leftoverText">
                Koostisosad on kohustuslikud.
              </span>
              <span ng-show="form.ingredients.$error.minTags && ingredients.length">
                Pakkumine peab sisaldama vähemalt 2 koostisosa.
              </span>
            </span>
          </label>
        </tags-input>
      </p>
      <p>
        <!-- The dirty check isn't working in this version of angular (https://github.com/mbenford/ngTagsInput/issues/341)
                     because of this we have to mark it manually for now-->
        <tags-input ng-model="tags" name="tags" id="{{idPrefix}}tags" min-tags="1" add-from-autocomplete-only="true" display-property="name"
                    on-tag-added="form.tags.$dirty=true" on-tag-removed="form.tags.$dirty=true" ng-class="{'ng-dirty': form.tags.$dirty}">
          <auto-complete source="getFilteredTags($query)" min-length="0" load-on-empty="true" load-on-focus="true"></auto-complete>
          <label ng-class="{filled: tags.length || form.tags.$error.leftoverText}" for="{{idPrefix}}tags">
            <span ng-show="!isReadyForError(form.tags) && !(form.tags.$touched && form.tags.$error.leftoverText)">
              Märksõnad
            </span>
            <span ng-show="isReadyForError(form.tags) || form.tags.$touched && form.tags.$error.leftoverText" class="errors">
              <span ng-show="form.tags.$error.leftoverText">
                Märksõna peab kuuluma ette pakutud hulka.
              </span>
              <span ng-show="!tags.length && !form.tags.$error.leftoverText">
                Märksõnad on kohustuslikud.
              </span>
              <span ng-show="form.tags.$error.minTags && tags.length">
                Pakkumine peab sisaldama vähemalt 1 märksõna.
              </span>
            </span>
          </label>
        </tags-input>
      </p>
      <p>
        <input ng-model="price" name="price" id="{{idPrefix}}price" type="number" min="0" required>
        <label ng-class="{filled: !form.price.$error.required}" for="{{idPrefix}}price">
          <span ng-show="!isReadyForError(form.price)">
            Hind
          </span>
          <span ng-show="isReadyForError(form.price)" class="errors">
            <span ng-show="form.price.$error.required">
              Hind on kohustuslik.
            </span>
            <span ng-show="form.price.$error.min">
              Hind ei tohi olla negatiivne.
            </span>
            <span ng-show="form.price.$error.number">
              Hind peab olema korrektne number.
            </span>
          </span>
        </label>
      </p>
      <div class="row">
        <div class="col-xs-3">
          <p>
            <input ng-class="{filled: date}" ng-model="date" name="date" id="{{idPrefix}}date" type="date" min="{{today}}" required>
            <label ng-class="{filled: date}" for="{{idPrefix}}date">
              <span ng-show="!isReadyForError(form.date)">
                Kuupäev
              </span>
              <span ng-show="isReadyForError(form.date)" class="errors">
                <span ng-show="form.date.$error.required">
                  Kuupäev on kohustuslik.
                </span>
                <span ng-show="form.date.$error.date">
                  Kuupäev on vigane.
                </span>
                <span ng-show="form.date.$error.min">
                  Kuupäev ei tohi olla minevikus.
                </span>
              </span>
            </label>
          </p>
        </div>
        <div class="col-xs-3">
          <div class="row">
            <div class="col-xs-3">
              <p class="input-sep">
                <input ng-class="{filled: fromTime}" ng-model="fromTime" name="fromTime" id="{{idPrefix}}fromTime" value="11:30" type="time" required>
                <label ng-class="{filled: fromTime}" for="{{idPrefix}}fromTime">
                  <span ng-show="!isReadyForError(form.fromTime, form.toTime)">
                    Kellaaeg
                  </span>
                  <span ng-show="isReadyForError(form.fromTime, form.toTime)" class="errors">
                    <span ng-show="form.fromTime.$error.required || form.toTime.$error.required">
                      Kellaajad on kohustuslikud.
                    </span>
                    <span ng-show="form.fromTime.$error.time || form.toTime.$error.time">
                      Kellaajad on vigased.
                    </span>
                    <span ng-show="form.toTime.$error.min">
                      Algusaeg peab olema enne lõpuaega.
                    </span>
                  </span>
                </label>
              </p>
            </div>
            <div class="col-xs-3">
              <p>
                <input ng-class="{filled: form.toTime.$viewValue}" ng-model="toTime" name="toTime" id="{{idPrefix}}toTime" value="15:00" type="time" min="{{form.fromTime.$valid ? form.fromTime.$viewValue : '00:00'}}" required>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <p>
        <input ng-class="{filled: form.image.$viewValue && !image.isPath}" name="image" id="{{idPrefix}}image" type="file" value=""
               image-with-preview ng-model="image" accept="image/jpeg,image/png" dimensions="height > 400 && width >= height">
        <label ng-class="{filled: form.image.$viewValue && !image.isPath}" for="{{idPrefix}}image">
          <span ng-show="!isReadyForError(form.image)">
            Pilt
          </span>
          <span ng-show="isReadyForError(form.image)" class="errors">
            <span ng-show="form.image.$error.image">
              Pilt peab olema PNG või JPEG formaadis.
            </span>
            <span ng-show="form.image.$error.dimensions">
              Pilt peab olema landscape formaadis ning kõrgusega vähemalt 400.
            </span>
          </span>
        </label>
      </p>
      <p class="image-preview">
        <label for="{{idPrefix}}image">
          <img ng-show="image.src" ng-src="{{image.src}}" alt="">
        </label>
      </p>
    </div>
  </div>
  <p class="buttons">
    <a class="btn btn-secondary" href="javascript:undefined" ng-click="cancelFunction()">
      Loobu
    </a>
    <input class="btn" type="submit" ng-disabled="form.$invalid" value="Salvesta">
  </p>
</form>
