<form class="form" novalidate ng-submit="form.$valid && submitOffer()" name="form">
  <div class="row">
    <div class="col-md-4 col-sm-3">
      <p>
        <input ng-model="title" name="title" id="{{idPrefix}}title" type="text" ng-minlength="4"
               ng-maxlength="{{::titleMaxLength}}" autocomplete="off" required>
        <label ng-class="{filled: form.title.$viewValue}" for="{{::idPrefix}}title">
          <span ng-show="!isReadyForError(form.title)">
            Nimetus
          </span>
          <span ng-show="isReadyForError(form.title)" class="errors">
            <span ng-show="form.title.$error.required">
              <strong>Nimetus</strong> on kohustuslik.
            </span>
            <span ng-show="form.title.$error.minlength">
              <strong>Nimetus</strong> peab olema vähemalt 4 tähte.
            </span>
            <span ng-show="form.title.$error.maxlength">
              <strong>Nimetus</strong> võib olla kuni {{::titleMaxLength}} tähte. ({{titleMaxLength-form.title.$viewValue.length}})
            </span>
          </span>
        </label>
        <ul class="suggestions" ng-if="suggestions && suggestions.length > 0">
          <li ng-repeat="(index, suggestion) in suggestions" ng-click="selectSuggestion(suggestion)">
            <span ng-class="{highlight: index === highlightedSuggestionIndex}">{{suggestion.title}}</span>
          </li>
        </ul>
      </p>
      <p>
        <tags-input ng-model="ingredients" name="ingredients" id="{{idPrefix}}ingredients" min-tags="2"
                    replace-spaces-with-dashes="false">
          <label ng-class="{filled: ingredients.length || form.ingredients.$error.leftoverText}" for="{{idPrefix}}ingredients">
            <span ng-show="!isReadyForError(form.ingredients) && !(form.ingredients.$touched && form.ingredients.$error.leftoverText)">
              Koostisosad
            </span>
            <span ng-show="isReadyForError(form.ingredients) || form.ingredients.$touched && form.ingredients.$error.leftoverText" class="errors">
              <span ng-show="form.ingredients.$error.leftoverText">
                Viimane <strong>koostisosa</strong> ei ole sobiv.
              </span>
              <span ng-show="!ingredients.length && !form.ingredients.$error.leftoverText">
                <strong>Koostisosad</strong> on kohustuslikud.
              </span>
              <span ng-show="form.ingredients.$error.minTags && ingredients.length">
                <strong>Koostisosasi</strong> peab olema vähemalt 2.
              </span>
            </span>
          </label>
        </tags-input>
      </p>
      <p>
        <tags-input ng-model="tags" name="tags" id="{{idPrefix}}tags" min-tags="1" add-from-autocomplete-only="true"
                    display-property="name">
          <auto-complete source="getFilteredTags($query)" min-length="0" load-on-down-arrow="true"></auto-complete>
          <label ng-class="{filled: tags.length || form.tags.$error.leftoverText}" for="{{idPrefix}}tags">
            <span ng-show="!isReadyForError(form.tags) && !(form.tags.$touched && form.tags.$error.leftoverText)">
              Märksõnad
            </span>
            <span ng-show="isReadyForError(form.tags) || form.tags.$touched && form.tags.$error.leftoverText" class="errors">
              <span ng-show="form.tags.$error.leftoverText">
                <strong>Märksõnad</strong> peavad kuuluma ette pakutute hulka.
              </span>
              <span ng-show="!tags.length && !form.tags.$error.leftoverText">
                <strong>Märksõnad</strong> on kohustuslikud.
              </span>
              <span ng-show="form.tags.$error.minTags && tags.length">
                <strong>Märksõnu</strong> peab olema vähemalt 1.
              </span>
            </span>
          </label>
        </tags-input>
      </p>
      <p>
        <input ng-model="price" name="price" id="{{idPrefix}}price" type="number" min="0" required>
        <label ng-class="{filled: !form.price.$error.required}" for="{{idPrefix}}price">
          <span ng-show="!isReadyForError(form.price)">
            Hind
          </span>
          <span ng-show="isReadyForError(form.price)" class="errors">
            <span ng-show="form.price.$error.required">
              <strong>Hind</strong> on kohustuslik.
            </span>
            <span ng-show="form.price.$error.min">
              <strong>Hind</strong> ei tohi olla negatiivne.
            </span>
            <span ng-show="form.price.$error.number">
              <strong>Hind</strong> peab olema korrektne number.
            </span>
          </span>
        </label>
      </p>
      <div class="row">
        <div class="col-xs-3">
          <p>
            <!-- NB: The date-format must be something parsable by new Date() so be careful when changing it -->
            <datepicker date-min-limit="{{yesterday}}">
              <input ng-model="date" name="date" type="text" id="{{idPrefix}}date" required>
            </datepicker>
            <label ng-class="{filled: date}" for="{{idPrefix}}date">
              <span ng-show="!isReadyForError(form.date)">
                Kuupäev
              </span>
              <span ng-show="isReadyForError(form.date)" class="errors">
                <span ng-show="form.date.$error.required">
                  <strong>Kuupäev</strong> on kohustuslik.
                </span>
                <span ng-show="form.date.$error.date">
                  <strong>Kuupäev</strong> on vigane.
                </span>
                <span ng-show="form.date.$error.min">
                  <strong>Kuupäev</strong> ei tohi olla minevikus.
                </span>
              </span>
            </label>
          </p>
        </div>
        <div class="col-xs-3">
          <div class="row">
            <div class="col-xs-3">
              <p class="input-sep">
                <input ng-class="{filled: fromTime || form.fromTime.$error.time || form.toTime.$error.time}" ng-model="fromTime" name="fromTime" id="{{idPrefix}}fromTime" value="11:30" type="time" required>
                <label ng-class="{filled: fromTime || form.fromTime.$error.time}" for="{{idPrefix}}fromTime">
                  <span ng-show="!isReadyForError(form.fromTime, form.toTime)">
                    Kellaaeg
                  </span>
                  <span ng-show="isReadyForError(form.fromTime, form.toTime)" class="errors">
                    <span ng-show="form.fromTime.$error.required || form.toTime.$error.required" ng-hide="form.fromTime.$error.time || form.toTime.$error.time">
                      <strong>Kellaaeg</strong> on kohustuslik.
                    </span>
                    <span ng-show="form.fromTime.$error.time || form.toTime.$error.time">
                      <strong>Kellaaeg</strong> peab olema formaadis hh:mm
                    </span>
                    <span ng-show="form.toTime.$error.min">
                      <strong>Algusaeg</strong> peab olema enne lõpuaega.
                    </span>
                  </span>
                </label>
              </p>
            </div>
            <div class="col-xs-3">
              <p>
                <input ng-class="{filled: form.toTime.$viewValue}" ng-model="toTime" name="toTime" id="{{idPrefix}}toTime" value="15:00" type="time" min="{{form.fromTime.$valid ? form.fromTime.$viewValue : '00:00'}}" required>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-3">
      <p>
        <span class="file-input-wrap">
            <input ng-class="{filled: form.image.$viewValue && !image.isPath}" name="image" id="{{idPrefix}}image" type="file" value=""
                   image-with-preview ng-model="image" accept="image/jpeg,image/png" dimensions="height > 400 && width >= height">
        </span>
        <label ng-class="{filled: form.image.$viewValue && !image.isPath}" for="{{idPrefix}}image">
          <span ng-show="!isReadyForError(form.image)">
            Pilt
          </span>
          <span ng-show="isReadyForError(form.image)" class="errors">
            <span ng-show="form.image.$error.image">
              <strong>Pilt</strong> peab olema PNG või JPEG formaadis.
            </span>
            <span ng-show="form.image.$error.dimensions">
              <strong>Pilt</strong> peab olema landscape formaadis ning kõrgusega vähemalt 400.
            </span>
          </span>
        </label>
      </p>
      <p class="image-preview">
        <label for="{{idPrefix}}image">
          <img ng-show="image.src" ng-src="{{image.src}}" alt="">
        </label>
      </p>
    </div>
  </div>
  <p class="buttons">
    <a ng-if="isEdit && !!deleteFunction" class="btn btn-secondary" href="javascript:undefined" ng-click="deleteFunction()">
      Kustuta
    </a>
    <a class="btn btn-secondary" href="javascript:undefined" ng-click="cancelFunction()">
      Loobu
    </a>
    <input class="btn" type="submit" value="Salvesta">
  </p>
</form>
