<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6" ng-controller="SearchCtrl">
                <input class="search" type="text" placeholder="Otsi söögikohta või sööki..." ng-model="query">
            </div>
            <div class="col-md-12">
                <date/>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
<div class="filter">
    <div class="container">
        <div class="filter-wrapper">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-md-6">
                    <offers-sorter order-by="location">
                        <a id="order-location" href="javascript:undefined">Asukoht</a>
                    </offers-sorter>
                </div>
                <div class="col-md-15" ng-controller="TagListCtrl">
                    <form action="">
                        <span ng-repeat="tag in tagList">
                            <input type="checkbox" id="checkbox-{{tag.name}}" name="meat" ng-model="tag.selected">
                            <label for="checkbox-{{tag.name}}">{{tag.displayName}}</label>
                        </span>
                    </form>
                </div>
                <div class="col-md-2">
                    <offers-sorter order-by="price">
                        <a id="order-price" href="javascript:undefined">Hind</a>
                    </offers-sorter>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offers" ng-controller="OfferListCtrl">
    <div class="container">
        <div class="offer" ng-repeat="offer in offers | search | tag | order" id="{{offer._id}}">
            <div class="row">
                <div class="col-xs-1">
                    <a href="javascript:undefined" class="favorite"></a>
                </div>
                <div class="col-xs-6">
                    <h2>{{offer.restaurant.name}}</h2>
                </div>
                <div class="col-xs-15">
                    <h3>{{offer.title}}</h3>
                    <p class="info">  -  {{offer.description}}</p>
                </div>
                <div class="col-xs-2">
                    <p class="price">{{offer.price}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
