<div class="header">
    <div class="container">
        <div class="header-wrap">
            <p id="location"><span class="icon-wrap"><span class="icon icon-5"></span></span>Tartu</p>
            <p id="logo">Luncher</p>
            <p class="search-wrap" ng-controller="SearchCtrl">
                <input ng-class="{ 'filled': query.length }" id="search" type="text" ng-model="query">
                <button ng-click="query = ''" id="search-submit" class="icon-7"></button>
            </p>
        </div>
    </div>
</div>
<div class="content" ng-controller="OfferListCtrl">
    <div class="container">
        <div class="controls">
            <div class="col-1">
                <offers-sorter id="location-sort-label" order-by="restaurant.name">
                    Asukoht
                </offers-sorter>
            </div>
            <div class="col-2">
                <div class="col-wrap">
                    <form>
                        <p ng-controller="TagListCtrl">
                            <span ng-repeat="tag in tagList">
                                <input type="checkbox" id="checkbox-{{tag.name}}" name="meat" ng-model="tag.selected">
                                <label for="checkbox-{{tag.name}}">{{tag.displayName}}</label>
                            </span>
                        </p>
                    </form>
                    <offers-sorter is-numeric="true" order-by="price" id="price-sort-label" class="price-sorter">
                        Hind
                    </offers-sorter>
                </div>
            </div>
        </div>
        <div class="offers-wrap">
            <div class="offer" ng-repeat="offer in offers | search | tag | order" id="{{offer._id}}" ng-click="toggle.state = !toggle.state"  ng-class="{expand: toggle.state}">
                <p class="icon-wrap"><a href="javascript:undefined" class="icon icon-8"></a></p>
                <div class="offer-content">
                    <div class="col-1">
                        <p>{{offer.restaurant.name}}</p>
                        <p class="additional">{{offer.restaurant.address}}</p>
                    </div>
                    <div class="col-2">
                        <div class="col-wrap">
                            <p class="mobile">{{offer.restaurant.name}}</p>
                            <p class="desktop">{{offer.title}}</p>
                            <p class="price">{{offer.price | currency}}</p>
                        </div>
                        <p class="additional mobile">{{offer.title}}</p>
                        <p class="additional desktop">{{offer.tags | joinTags}}</p>
                    </div>
                </div>
                <div class="secondary">
                    <div class="col-1">
                        <div class="map" ng-style="{'background-image':'url(../img/map.png)'}"></div>
                    </div>
                    <div class="col-2">
                        <p class="additional mobile">{{offer.tags | joinTags}}</p>
                        <p class="image" ng-style="{'background-image':'url(../img/offers/{{offer.image}})'}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
