<div class="header">
    <div class="container">
        <div class="header-wrap">
            <p class="icon-wrap">
                <button ng-click="menuState='active'" class="icon icon-12"></button>
            </p>
            <p id="logo">Luncher</p>
        </div>
    </div>
</div>
<div ng-class="menuState" class="menu">
    <h2>La Dolche Vita</h2>
    <p class="icon-wrap">
        <button ng-click="menuState=''" class="icon icon-9"></button>
    </p>
    <ul>
        <li><a href="javascript:undefined"><span class="icon-1"></span>Restorani andmed</a></li>
        <li><a href="javascript:undefined"><span class="icon-17"></span>Facebooki seaded</a></li>
        <li><a href="javascript:undefined"><span class="icon-5"></span>Asukoha seaded</a></li>
        <li><a href="javascript:undefined"><span class="icon-3"></span>Tagasiside</a></li>
    </ul>
</div>
<div class="overlay"></div>
<div class="content" ng-controller="RestaurantOfferListCtrl">
    <div class="container">
        <div class="form new-offer-form" ng-form name="newOfferForm" ng-class="newOfferFormState">
            <p class="new-offer-btn">
                <a href="javascript:undefined" ng-click="newOfferFormState='active'"><span class="icon-4"></span>Lisa uus pakkumine</a>
            </p>
            <div class="form-wrap">
                <div class="col">
                    <p>
                        <input ng-model="newOffer.name" name="name" id="new-offer-name" type="text">
                        <label ng-class="{ 'filled': newOffer.name.length }" for="new-offer-name">Nimetus</label>
                    </p>
                    <p>
                        <input ng-model="newOffer.consist" name="consist" id="new-offer-consist" type="text"></input>
                        <label ng-class="{ 'filled': newOffer.consist.length }" for="new-offer-desc">Koostisosad</label>
                    </p>
                    <p>
                        <input ng-model="newOffer.price" name="price" id="new-offer-price" type="number" required>
                        <label ng-class="{ 'filled': !newOfferForm.price.$error.required}" for="new-offer-price">Hind</label>
                    </p>
                    <p>
                        <input ng-model="newOffer.time" name="time" id="new-offer-time" type="date-time" required>
                        <label ng-class="{ 'filled': !newOfferForm.price.$error.required}" for="new-offer-price">Aeg</label>
                    </p>
                </div>
                <div class="col">
                    <div class="imgage-preview">
                        <span>{{user.name}}</span>
                    </div>
                    <p>
                        <input ng-model="newOffer.image" name="image" id="new-offer-image" type="file" accept="image/*" required>
                        <label ng-class="{ 'filled': !newOfferForm.image.length}" for="new-offer-price"></label>
                    </p>
                </div>
                <p class="buttons">
                    <a class="btn btn-secondary" href="javascript:undefined" ng-click="newOfferFormState=''">
                        Loobu
                    </a>
                    <a class="btn" href="javascript:undefined">
                        Salvesta
                    </a>
                </p>
            </div>
        </div>
        <div class="offers-wrap">
            <div class="offer" ng-repeat="offer in offers | search | tag | order" id="{{offer._id}}" ng-click="offerToggleState = !toggle.state"  ng-class="{'first' : $first, 'last' : $last, 'expand' : offerToggleState}">
                <p class="icon-wrap"><a href="javascript:undefined" class="icon icon-15"></a></p>
                <div class="offer-content">
                    <div class="col-1">
                        <h2 class="name">{{offer.title}}</h2>
                    </div>
                    <div class="col-2">
                        <div class="col-wrap">
                            <h2 class="name mobile">{{offer.title}}</h2>
                            <p class="info desktop">{{offer.description}}</p>
                            <p class="price">{{offer.price}} €</p>
                        </div>
                        <p class="info mobile">{{offer.description}}</p>
                    </div>
                </div>
                <div class="secondary">
                    <p class="image" ng-style="{'background-image':'url(../img/offers/{{offer.image}})'}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
