<div class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="row">
                <div class="col-xs-7">
                    <p class="icon"><a href="#"><i class="fa fa-wrench"></i></a></p>
                    <p class="name">{{restaurant.name}}</p>
                </div>
                <div class="col-md-10">
                    <date/>
                </div>
                <div class="col-md-7"></div>
            </div>
        </div>        
    </div>
</div>
<div class="controls">
    <div class="container">
        <div class="controls-wrapper">
            <div class="row">
                <div class="col-xs-7">
                    <p class="control-label">
                        <a href="#">
                            <span class="icon"><i class="fa fa-plus-square-o"></i></span>
                            Lisa uus pakkumine
                        </a>
                    </p>
                </div>
                <div class="col-md-17"></div>
            </div>
        </div>
    </div>
</div>
<div class="offers" ng-controller="RestaurantOfferListCtrl">
    <div class="container">
        <div class="offer" ng-repeat="offer in offers | orderBy:'offer.date'">
            <div class="row">
                <div class="col-xs-7">
                    <p class="icon"><a href="#"><i class="fa fa-pencil"></i></a></p>
                    <p class="date">{{offer.fromTime | date:'EEE MM.dd'}}</p>
                    <p class="time">{{offer.fromTime | date:'shortTime'}} - {{offer.toTime | date:'shortTime'}}</p>
                </div>
                <div class="col-xs-15">
                    <h2>{{offer.title}}</h2>
                    <p class="info">{{offer.description}}</p>
                </div>
                <div class="col-xs-2">
                    <p class="price">{{offer.price}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
