<div class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="row">
                <p class="btn-wrapper">
                    <a class="btn btn-light" href="javascript:undefined">
                        Lisa uus pakkumine
                    </a>
                </p>
                <div id="logo"></div>
            </div>
        </div>
    </div>
</div>
<div class="content" ng-controller="RestaurantOfferListCtrl">
    <div class="container">
        <div class="form">
            <div class="row">
                <div class="col-sm-7">
                    <p>
                        <input ng-model="newOfferName" id="new-offer-name" type="text">
                        <label ng-class="{ 'filled': newOfferName.length }" for="new-offer-name">Nimetus</label>
                    </p>
                    <p>
                        <input ng-model="newOfferTags" id="new-offer-tags" type="text">
                        <label ng-class="{ 'filled': newOfferTags.length }" for="new-offer-teags">Tags</label>
                    </p>
                </div>
                <div class="col-sm-12">
                    <p>
                        <textarea ng-model="newOfferDesc" id="new-offer-desc"></textarea>
                        <label ng-class="{ 'filled': newOfferDesc.length }" for="new-offer-desc">Kirjeldus</label>
                    </p>
                </div>
                <div class="col-sm-5">
                    <p>
                        <input ng-model="newOfferPrice" id="new-offer-price" type="number">
                        <label ng-class="{ 'filled': newOfferPrice.length }" for="new-offer-price">Hind</label>
                    </p>
                    <p>
                        <a class="btn" href="javascript:undefined">
                            Salvesta
                        </a>
                        <a class="btn btn-secondary" href="javascript:undefined">
                            Loobu
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <h3 class="day-sep">
            Esmaspäev,  1. detsember
        </h3>
        <div class="offers-wrapper">
            <div class="offer" ng-repeat="offer in offers | orderBy:'offer.date' | filter:'La Dolche Vita' " ng-class="{first : $first, last : $last}">
                <div class="row">
                    <div class="col-xs-21 col-sm-21 col-lg-22">
                        <p class="icon edit"><a href="javascript:undefined"><i class="fa fa-pencil"></i></a></p>
                        <h2>{{offer.title}}</h2>
                        <p class="info">{{offer.description}}</p>
                    </div>
                    <div class="col-xs-3 col-lg-2">
                        <p class="price">{{offer.price}} €</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
